DATABASE_URL=mysql://majumder:1234@mysql:3306/school-demo

MYSQL_ROOT_PASSWORD=1234
MYSQL_DATABASE=school-demo
MYSQL_USER=majumder
MYSQL_PASSWORD=1234

PMA_PORT=8080
PMA_ABSOLUTE_URI=http://localhost:8080

# REDIS_HOST=redis
# REDIS_PORT=6379
# REDIS_PASSWORD=""
# REDIS_WEB_URL=http://localhost:8081
